* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana;
    box-sizing: border-box;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

nav > ul > li > a:hover {
    background-color: #111;
}

input[type=button], input[type=submit], input[type=reset] {
    padding: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    float: right;
}

input[type=reset] {
    background-color: #FF9800;
    color: white;
    float: right;
}



.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 30%;
}

.cancel {
    background-color: #f44336;
    color: white;
    float: right;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #conteudo {margin: 0 20% 0 20%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .btn {width: 100px;}
    .cancel {float: none;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 4px;
    border-color: #999;
    border-style: solid;
}

