* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana;
    box-sizing: border-box;
}

nav > ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #111;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    background-color: darkgray;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.btn-inline {
    display: inline-block;
}

.btn:hover {
    background-color: lightgray;
}

[class*="col-"] {
    width: 100%;
}

.conteudo {
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .conteudo {
        margin-left: 10%;
        margin-right: 10%;
    }
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.success ul, .error ul {
    list-style-type: none;
    margin: 5px;
}

.error {
    background-color: #FF9999;
    border: 2px solid red;
}

.success {
    background-color: lawngreen;
    border: 2px solid limegreen;
}

.error, .success {
    padding: 16px 0px;
    border-radius: 10px;
}

input, select, textarea {
    border: 2px solid #999999;
    border-radius: 5px;
}

select {
    background-color: white;
}

textarea {
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    padding: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

button {
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    float: right;
}

input[type=reset] {
    background-color: #FF9800;
    color: white;
    float: right;
}

.alert {
    background-color: #FF9800;
    color: white;
}

.cancel {
    background-color: #f44336;
    color: white;
}

.side-content {
    border: 2px #aaaaaa solid;
    background-color: #fafafa;
    border-radius: 10px;
    float: left;
}

.side-item {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-content {
    margin: 25px 0;
    border: 2px #aaaaaa solid;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 150px;
}

.main-item {
    margin: 5%;
}

.list-item {
    display: inline-block;
    border: 1px #999999 solid;
    width: 100%;
    background-color: #fafafa;
    height: 150px;
}

.list-item .imagem {
    align-content: center;
    width: 25%;
    height: 100%;
    float: left;
}

.list-item .imagem img {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.list-item .info {
    align-content: center;
    text-decoration: none;
    float: left;
    width: 50%;
}

.list-item .preco {
    align-content: center;
    height: 100%;
    overflow: hidden;
    width: 25%;
}
.list-item .preco:after {
    clear: both;
}

table {
    width: 100%;
}

table thead th {
    border-bottom: 2px solid lightgray;
}

table tbody td {
    text-align: center;
}
table tbody td img {
    min-height: 50px;
    min-width: 50px;
    max-height: 100px;
    max-width: 100px;
}

table tbody tr {
    margin: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


